{% extends 'base.html.twig' %}

{% block content %}
	<section>
		<article class="article">
			<h1>{{ content.title }}</h1>
			<h2>{{ content.subtitle }}</h2>
			{{ content.article|raw }}
		</article>
	</section>	
{% endblock %}
