{% extends 'base.html.twig' %}

{% block content %}
	{{ component('NavigationContextList', {navigationContext: 'articles'}) }}
	<section class="section-articles">
		<article class="article">
			<h1>{{ content.title }}</h1>
			<h2>{{ content.subtitle }}</h2>
			{{ content.article|raw }}
		</article>
	</section>	
{% endblock %}
