{% extends 'base.html.twig' %}

{% block content %}
        <section id="about">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    
    <h1>{{ content.title }}</h1>

    {{ content.article|raw }}
                </div>
            </div>
        </section>
{% endblock %}
