{# twig component : src/Twig/Components/ArticleList.php #}
<div class="navbar-navigation-context">     
    {% set uid = sulu_navigation_root_tree(navigationContext)[0]["id"] %}
    {% set navTree = sulu_navigation_tree(uid) %}
    {% for item in navTree|sulu_util_multisort('[created]', 'desc') %}
        <div class="navbar-navigation-context-list">
            <a  class="navbar-navigation-context-link" href="{{ sulu_content_path(item.url, item.webspaceKey) }}">{{ item.title }} -- {{ item.created | date("m/d/Y") }}</a>
        </div>
    {% endfor %}
</div>